<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="datasource" value="172.16.2.20"/>
		<add key="username" value="pdb_user"/>
		<add key="password" value="pdb987456"/>
		<add key="database" value="pdb"/>
	    <add key="smtport" value="587"/>
		<add key="smthost" value="smtp.office365.com"/>
		<add key="smtcreduser" value="mopie@estrella.com.do"/>
		<add key="smtcredpass" value="bwjqpnnzjtmtzwdm"/>
   </appSettings>
</configuration>
